{
    # Global options block at the top
    admin off
    # Comment out staging during debugging to see real certificates
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# Main domain for nostr relay
orangesync.tech {
    reverse_proxy nsite:80
    tls support@orangesync.tech
    log {
        output file /var/log/caddy/nostr.log {
            roll_size 1gb
            roll_keep 1
            roll_ keep_for 720h
        }
    }
}

# Bostr subdomain
bostr.orangesync.tech {
    # Change localhost to the actual service name if it's running in Docker
    reverse_proxy bostr:8083  # If this is running on the host, you'll need a different setup
    tls support@orangesync.tech
}

# Wildcard for nsite subdomains
*.nsite.orangesync.tech {
    reverse_proxy nsite:3000
    tls support@orangesync.tech
}

# Main nsite domain
nsite.orangesync.tech {
    reverse_proxy nsite:3000
    tls support@orangesync.tech
}
